/* Firefox old*/

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* IE */

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Opera and prob css3 final iteration */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink-image {
    -moz-animation: blink normal 0.5s infinite ease-in-out;
    /* Firefox */
    
    -webkit-animation: blink normal 0.5s infinite ease-in-out;
    /* Webkit */
    
    -ms-animation: blink normal 0.5s infinite ease-in-out;
    /* IE */
    
    animation: blink normal 0.5s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
}
@-moz-keyframes blink2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes blink2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* IE */

@-ms-keyframes blink2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* Opera and prob css3 final iteration */

@keyframes blink2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.blink-image-2 {
    -moz-animation: blink2 normal 0.5s infinite ease-in-out;
    /* Firefox */
    
    -webkit-animation: blink2 normal 0.5s infinite ease-in-out;
    /* Webkit */
    
    -ms-animation: blink2 normal 0.5s infinite ease-in-out;
    /* IE */
    
    animation: blink2 normal 0.5s infinite ease-in-out;
    /* Opera and prob css3 final iteration */
}
html, body, #app{
    height:100%;
    min-height:100%;
    padding:0;
    margin:0;
}